body {
  background-color: #444;
  font-family: Arial;
  color: #fff;
  overflow:hidden;
  margin:0;
  padding:0;
}
.logo > * {
  height: 5vh;
  display: inline-block;
}
.logo > img {
  width: 5vh;
}
.list {
  background: #111;
  width: 100%;
  height: 90vh;
  border-top: 1px solid #fff;
  border-radius: 0;
  padding-left: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0px;
  position: absolute;
  bottom:0;
  left:0;
  right:0;
}
.muu {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 92%;
}
.lista {
  width: 100%;
  border: 1px solid #fff;
  border-radius: 0.5rem;
  margin: 5px 0px;
  display: inline-block;
  overflow-y: scroll;
  max-height: 20vw;
}
*::-webkit-scrollbar-thumb, .lin::-webkit-scrollbar-thumb {
  background-color: gray;
  border: 4px solid transparent;
  border-radius: 8px;
  background-clip: padding-box;  
}  
*::-webkit-scrollbar, .lin::-webkit-scrollbar {
  width: 16px;
}
time {
  font-size: 11px;
  color: grey;
}

input, button, textarea {
  border: 1px solid #fff;
  border-radius: 0.25rem;
  background: transparent;
  color: #fff;
  resize: none;
}

#message {
  font-size: 18px;
  margin-bottom: -6px;
  width: 38vw;
}

.emoji {
  height: 16px;
  margin-bottom: -3px;
  border-radius: none;
}

.bar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #111;
}
.bar i {
  font-size: 20px;
  margin-top: 1px;
}

#gifPicker {
  position: absolute;
  bottom: 3px;
  right: -56vw;
  background-color: #222;
  border: 1px #444 solid;
  width: 38vw;
  max-height: 65vh;
  overflow-y: scroll;
  z-index: 99999;
}
#gifPicker input {
  width: -webkit-fill-available;
}
#gifPicker div {
  transition: height 500ms;
}

.gif {
  max-height: 24vh;
  max-width: 100%;
  margin: 0px 5px;
  cursor: pointer;
}

.MDbq::before {
  content: "|";
  margin-right: 6px;
  color: #ccc;
  background-color: #ccc;
  border-radius: 0.5rem;
}

.MDcode {
  padding: 4px;
  border-radius: 0.25rem;
  background-color: #000;
}

.MDhl {
  padding: 2px;
  border-radius: 0.25rem;
  font-weight: bold;
  background-color: #e9bd00;
}

.MDhd {
  margin: 0;
}