body {
  display: flex;
  flex-direction: column;
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
}
.modal-close {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 18px;
  height: 18px;
  padding: 0;
  border: none;
}

nav {
  display: flex;
  align-items: center;
  height: 32px;
  overflow: hidden;
  box-sizing: border-box;
}
nav img {
  height: 80%;
  margin: 4px;
}

main {
  display: flex;
  flex: 1;
  width: 100dvw;
  height: 0px;
  box-sizing: border-box;
  border-top: 1px solid var(--text-1);
  border-radius: 0;
  margin: 0px;
}
.roomSide {
  display: flex;
  gap: 10px;
  align-items: center;
  flex-direction: column;
  width: 15dvw;
  min-width: 60px;
  max-width: 180px;
  padding: 4px;
  border-right: 1px var(--text-1) solid;
  transition: left 250ms;
  box-sizing: border-box;
}
.roomSide button {
  min-width: 70%;
  padding: 2px;
}
.list {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.messagesDiv {
  display: flex;
  flex-direction: column-reverse;
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 4px;
  word-break: break-word;
}
.messagesDiv > div {
  display: flex;
  flex-direction: column;
}
.messagesDiv > div > b {
  display: flex;
  gap: 5px;
  align-items: flex-end;
}
time {
  font-size: 65%;
  color: var(--text-3);
}
.messagesDiv > div > span {
  word-break: break-word;
  white-space: break-spaces;
}
.filePreview {
	min-height: 0px;
	max-height: 15dvh;
	overflow-y: auto;
	border-radius: 0.5rem;
	background-color: var(--bg-1);
}
.FileOnPreview {
  max-height: 16dvh;
  position: relative;
  display: inline-block;
}
.FOPImg {
	height: 15dvh;
	width: fit-content;
}
audio.FOPImg {
  height: revert-layer;
  width: revert-layer;
}
.in .FOPImg {
  max-width: 75dvw;
  max-height: 60dvh;
  height: unset;
}
.FOPDelete {
  position: absolute;
  top: 2px;
  right: 2px;
  width: 30px;
  height: 30px;
  padding: 2px;
  background-color: #000a;
  z-index: 10;
}

#message {
  flex-grow: 1;
  margin: 0px;
  font-size: 100%;
  font-family: 'Lexend';
  font-weight: normal;
  resize: none;
}

.emoji {
  height: 16px;
  margin-bottom: -3px;
  border-radius: none;
}

.bar {
  position: relative;
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  padding: 5px;
}
.bar button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  width: 35px;
  height: 35px;
}

#gifPicker {
  position: absolute;
  top: -60px;
  left: calc(60% - 5px);
  width: 40%;
  margin: 0px;
  border: 1px var(--bg-3) solid;
  background-color: var(--bg-2);
  z-index: 99999;
  box-sizing: border-box;
  transition: top 500ms;
}
#gifPicker input {
  width: calc(100% - 20px);
}
#gifResult {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden auto;
  transition: height 500ms;
}
.gif {
  width: 50%;
  aspect-ratio: 1 / 1;
  padding: 2px;
  cursor: pointer;
  box-sizing: border-box;
}

#emojiPicker {
  --background: var(--bg-2);
  --border-color: var(--bg-3);
  --input-border-color: var(--text-2);
  --input-font-color: var(--text-1);
  --input-placeholder-color: var(--text-2);
  --outline-color: var(--text-1);
  --category-font-color: var(--text-1);
  --button-active-background: var(--bg-3);
  --button-hover-background: var(--bg-3);
  --border-radius: 0.5rem;
  position: absolute;
  top: -400px;
  right: 5px;
  width: 382px;
  height: 400px;
  z-index: 99;
}

mark {
  padding: 2px;
  border-radius: 0.25rem;
}

pre {
  margin: 2px 0px;
}

blockquote {
  position: relative;
  display: inline;
  margin: 0px;
  margin-left: 8px;
}
blockquote::before {
  content: "";
  position: absolute;
  top: -1px;
  bottom: 0px;
  left: -8px;
  width: 4px;
  height: calc(100% + 2px);
  border-radius: 1rem;
  background-color: var(--bg-4);
}
code {
  display: inline;
  font-family: ui-monospace, monospace;
  padding: 4px;
  border-radius: 0.25rem;
  background-color: var(--bg-0);
}

.disclosure {
  display: block;
  width: fit-content;
  max-width: 75%;
  color: var(--text-3);
  font-size: 12px;
  text-align: center;
  margin: 0px auto;
  border-bottom: 1px var(--text-3) solid;
}
.disclosure button {
  color: inherit;
  border: none;
  border-radius: 0;
}

#name {
  min-width: 0;
}

/* Mobile */
@media (max-width: 700px) {
  .mobile-hide {
    display: none !important;
  }
  .mobile-show {
    display: block !important;
  }
  input {
    margin: 2px !important;
  }
  .roomSide {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100dvw;
    width: 100dvw;
    max-width: unset;
    height: 100dvh;
    border: none;
    background-color: var(--bg-1);
    z-index: 99999;
  }
  #gifPicker {
    left: 0px;
    width: 100%;
  }
}