body {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 100vw;
  width: 100dvw;
  height: 100vh;
  height: 100dvh;
}

nav {
  display: flex;
  align-items: center;
  height: 5vh;
  overflow: hidden;
  box-sizing: border-box;
}
nav img {
  width: 8vh;
  max-width: 40px;
  height: 8vh;
  max-height: 40px;
}

main {
  display: flex;
  flex: 1;
  width: 100vw;
  height: 95vh;
  box-sizing: border-box;
  border-top: 1px solid var(--text-1);
  border-radius: 0;
  margin: 0px;
  margin-bottom: 2px;
}
.roomSide {
  display: flex;
  gap: 10px;
  align-items: center;
  flex-direction: column;
  width: 15vw;
  min-width: 60px;
  max-width: 180px;
  padding: 4px;
  border-right: 1px var(--text-1) solid;
  box-sizing: border-box;
}
.roomSide button {
  height: 28px;
  min-width: 70%;
}
.list {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.messagesDiv {
  overflow-y: auto;
  overflow-x: hidden;
  padding: 4px;
  word-break: break-word;
  flex: 1;
}
time {
  font-size: 65%;
  color: var(--text-3);
}
.filePreview {
  width: 85vw;
  min-height: 0px;
  max-height: 15vh;
  overflow-y: auto;
  border-radius: 0.5rem;
  background-color: var(--bg-1);
}
.FileOnPreview {
  max-height: 16vh;
  position: relative;
  display: inline-block;
}
.FOPImg {
  height: 15vh;
}
.FOPDelete {
  position: absolute;
  top: 2px;
  right: 2px;
  z-index: 10;
  background-color: #0008;
}
.FOPIcon {
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.75);
  background-color: rgba(0,0,0,0.75);
}

#message {
  resize: none;
  margin: 0;
  font-size: 135%;
  flex-grow: 1;
}

.emoji {
  height: 16px;
  margin-bottom: -3px;
  border-radius: none;
}

.bar {
  display: flex;
  gap: 5px;
  padding: 5px;
}
.bar i {
  font-size: 20px;
  margin-top: 1px;
}

#gifPicker {
  position: absolute;
  bottom: 5vh;
  right: -58vw;
  background-color: var(--bg-2);
  border: 1px var(--bg-3) solid;
  width: 38vw;
  max-height: 65vh;
  overflow-y: scroll;
  z-index: 99999;
}
#gifPicker input {
  width: -webkit-fill-available;
}
#gifPicker div {
  transition: height 500ms;
}

.gif {
  max-height: 24vh;
  max-width: 100%;
  margin: 0px 5px;
  cursor: pointer;
}

#emojiPicker {
  position: absolute;
  bottom: 5vh;
  right: 10px;
  max-height: 85vh;
  max-width: 95vw;
}

mark {
  padding: 2px;
  border-radius: 0.25rem;
}

pre {
  margin: 2px 0px;
}

.MDbq::before {
  content: "|";
  margin-right: 6px;
  color: #ccc;
  background-color: #ccc;
  border-radius: 0.5rem;
}

.MDcode {
  padding: 4px;
  border-radius: 0.25rem;
  background-color: var(--bg-0);
}

.MDhd {
  margin: 0;
}

.disclosure {
  display: block;
  width: fit-content;
  color: var(--text-3);
  font-size: 12px;
  text-align: center;
  margin: 0px auto;
  border-bottom: 1px var(--text-3) solid;
}

#name {
  min-width: 0;
}