body {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}
.logo {
  display: flex;
  align-items: center;
}
.logo img {
  width: clamp(1rem, 4.5vw, 2rem);
}
.logo h1 {
  font-size: clamp(1rem, 4.5vw, 2rem);
}
.list {
  background: var(--bg-1);
  width: 100vw;
  height: 90vh;
  height: 90dvh;
  border-top: 1px solid var(--text-1);
  border-bottom: 2px solid var(--text-1);
  border-radius: 0;
  margin: 0px;
  margin-bottom: 2px;
  display: flex;
  flex: 1;
}
.messagesDiv {
  overflow-y: auto;
  overflow-x: hidden;
  padding: 4px;
  word-break: break-word;
  flex: 1;
}
.roomSide {
  border-right: 1px var(--text-1) solid;
  margin-right: 4px;
  padding: 4px;
  min-width: 8%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.roomSide button {
  height: 28px;
  min-width: 70%;
}
.filePreview {
  width: 100%;
  border-radius: 0.5rem;
  margin: 2px 0px;
  display: inline-block;
  overflow-y: scroll;
  max-height: 10vw;
  min-height: 0;
  background-color: var(--bg-1);
}
time {
  font-size: 65%;
  color: var(--text-3);
}

#message {
  resize: none;
  margin: 0;
  font-size: 135%;
  flex-grow: 1;
}

.emoji {
  height: 16px;
  margin-bottom: -3px;
  border-radius: none;
}

.bar {
  display: flex;
  gap: 5px;
  padding: 5px;
  background-color: var(--bg-1);
}
.bar i {
  font-size: 20px;
  margin-top: 1px;
}

#gifPicker {
  position: absolute;
  top: 1vh;
  right: -58vw;
  background-color: var(--bg-2);
  border: 1px var(--bg-3) solid;
  width: 38vw;
  max-height: 65vh;
  overflow-y: scroll;
  z-index: 99999;
}
#gifPicker input {
  width: -webkit-fill-available;
}
#gifPicker div {
  transition: height 500ms;
}

.gif {
  max-height: 24vh;
  max-width: 100%;
  margin: 0px 5px;
  cursor: pointer;
}

mark {
  padding: 2px;
  border-radius: 0.25rem;
}

pre {
  margin: 2px 0px;
}

.MDbq::before {
  content: "|";
  margin-right: 6px;
  color: #ccc;
  background-color: #ccc;
  border-radius: 0.5rem;
}

.MDcode {
  padding: 4px;
  border-radius: 0.25rem;
  background-color: var(--bg-0);
}

.MDhd {
  margin: 0;
}

.disclosure {
  color: var(--text-3);
  font-size: 12px;
  text-align: center;
}
.divide {
  border-bottom: 1px var(--text-3) solid;
  width: 30%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#emojiPicker {
  --emoji-font-family: Twemoji Mozilla;
  position: absolute;
  top: 1vh;
  right: 10px;
  max-height: 85vh;
  max-width: 95vw;
}

#name {
  min-width: 0;
}

.FileOnPreview {
  max-width: 10vw;
  max-height: 12vh;
  position: relative;
  display: inline-block;
}
.FOPImg {
  /*max-width: 10vw;*/
  height: 10vh;
}
.FOPDelete {
  position: absolute;
  top: 2px;
  right: 2px;
  z-index: 10;
  background-color: #0008;
}
.FOPIcon {
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.75);
  background-color: rgba(0,0,0,0.75);
}